<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyanrocks.wms.mapper.InventoryValidGoodsMapper">

    <resultMap id="InventoryWaringMap" type="com.cyanrocks.wms.vo.response.InventoryWaringDTO">
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="spec_no" property="specNo" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="spec_name" property="specName" jdbcType="VARCHAR"/>
        <result column="inventoryNum" property="inventoryNum" jdbcType="DOUBLE"/>
        <result column="turnoverDays" property="turnoverDays" jdbcType="DOUBLE"/>
        <result column="groupType" property="groupType" jdbcType="VARCHAR"/>
        <result column="waringLevel" property="waringLevel" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getInventoryWaringRes" resultMap="InventoryWaringMap">
        select *,case when turnoverCoefficient is null or inventoryLabel1 is null or inventoryLabel2 is null then '-'
            when groupType = 'A' and inventoryLabel1 > turnoverDays then 'red'
            when groupType = 'A' and turnoverDays >= inventoryLabel1 and inventoryLabel2 >= turnoverDays  then 'green'
            when groupType = 'A' and turnoverDays > inventoryLabel2 then 'yellow'
            when groupType = 'B' and inventoryLabel1 > turnoverDays then 'red'
            when groupType = 'B' and turnoverDays >= inventoryLabel1 and inventoryLabel2 >= turnoverDays  then 'green'
            when groupType = 'B' and turnoverDays > inventoryLabel2 then 'yellow'
            when groupType = 'C' and inventoryLabel1 > turnoverDays then 'green'
            when groupType = 'C' and turnoverDays >= inventoryLabel1 and inventoryLabel2 >= turnoverDays  then 'yellow'
            when groupType = 'C' and turnoverDays > inventoryLabel2 then 'red'
            else '-' end waringLevel
        from(
            select t1.*,CAST(t1.inventoryNum * (CAST(IFNULL(t2.value,0) AS DECIMAL(20,18))) AS SIGNED) turnoverDays,t3.value groupType,
                   t2.value turnoverCoefficient,CAST(t4.value AS SIGNED) inventoryLabel1,CAST(t5.value AS SIGNED) inventoryLabel2
            from (
            select *,SUM(inventory_num) inventoryNum from inventory_validgoods
            <if test="sql != '' and sql != null">
                where ${sql}
            </if>
            group by spec_no,goods_name,spec_name
            )t1
            left join inventory_config t2 on t2.fields = t1.spec_no and t2.type = 'turnoverCoefficient'
            left join inventory_config t3 on t3.fields = t1.spec_no and t3.type = 'group'
            left join inventory_config t4 on t4.fields = t3.value and t4.type = 'inventoryLabel1'
            left join inventory_config t5 on t5.fields = t3.value and t5.type = 'inventoryLabel2'
        )a
        order by FIELD(groupType, 'A', 'B', 'C'),FIELD(brand_name, '爵宴', '好适嘉', '齿能','smb'),goods_name
    </select>

    <resultMap id="ValidityWaringMap" type="com.cyanrocks.wms.vo.response.ValidityWaringDTO">
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="spec_no" property="specNo" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="spec_name" property="specName" jdbcType="VARCHAR"/>
        <result column="groupType" property="groupType" jdbcType="VARCHAR"/>
        <result column="waring1Num" property="waring1Num" jdbcType="INTEGER"/>
        <result column="waring2Num" property="waring2Num" jdbcType="INTEGER"/>
        <result column="waring3Num" property="waring3Num" jdbcType="INTEGER"/>
        <result column="inventoryNum" property="inventoryNum" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getValidityWaringRes" resultMap="ValidityWaringMap">
        select * from (
        select t1.*,t2.value groupType, t3.waring1Num, t4.waring2Num, t5.waring3Num
        from (
        select *,SUM(inventory_num) inventoryNum from inventory_validgoods
        <if test="sql != '' and sql != null">
            where ${sql}
        </if>
        group by spec_no,goods_name,spec_name
        )t1
        left join inventory_config t2 on t2.fields = t1.spec_no and t2.type = 'group'
        left join (select *,SUM(inventory_num) waring1Num from inventory_validgoods
        where CAST(REPLACE(due_scale,'%','') AS DECIMAL(6,4)) >= (select value from inventory_config where type = 'validityLabel1')
        group by spec_no,goods_name,spec_name) t3 on t3.spec_no = t1.spec_no
        left join (select *,SUM(inventory_num) waring2Num from inventory_validgoods
        where CAST(REPLACE(due_scale,'%','') AS DECIMAL(6,4)) >= (select value from inventory_config where type = 'validityLabel2')
        and (select value from inventory_config where type = 'validityLabel1') > CAST(REPLACE(due_scale,'%','') AS DECIMAL(6,4))
        group by spec_no,goods_name,spec_name) t4 on t4.spec_no = t1.spec_no
        left join (select *,SUM(inventory_num) waring3Num from inventory_validgoods
        where (select value from inventory_config where type = 'validityLabel2') > CAST(REPLACE(due_scale,'%','') AS DECIMAL(6,4))
        group by spec_no,goods_name,spec_name) t5 on t5.spec_no = t1.spec_no
        )a
        order by FIELD(groupType, 'A', 'B', 'C'),FIELD(brand_name, '爵宴', '好适嘉', '齿能','smb'),goods_name
    </select>
</mapper>
